<h1>Your word:</h1>
<p><%= @word %></p>

<ul>
  <li>Your score: <%= @result[:score]%></li>
  <li>Your time: <%= @result[:time]%></li>
  <li><%= @result[:message]%></li>
</ul>


<%= link_to 'Play again', game_path %>
